<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
</head>

<body>
    <div class="container mt-5 ">
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
            Add Barang
        </button>
        <div class="row ">


            <div class="col-md-6 ">
                <!-- Button trigger modal -->
               

                <table class="table table-hover  table-dark pt-2 mt-5">
                    <tr>
                        <th>Id Barang</th>
                        <th>Nama Barang</th>
                        <th>Harga</th>
                        <th>Stock</th>
                        <!-- 
                <th>Id Jenis Barang</th>
                <th>New Stock</th> -->
                        <th>Pilih</th>
                        <th>Action </th>
                    </tr>
                    <% for(let a of bar){ %>
                        <tr>
                            <td>
                                <%= a.Id_JenisBarang %>
                            </td>
                            <td>
                                <%= a.Nama_barang %>
                            </td>
                            <td>
                                <%= formatSaldo(a.harga) %>
                            </td>
                            <td>
                                <%= a.new_stock %>
                            </td>
                      
                            <td>
                                <% if (a.new_stock <= 0) { %>
                                    <div style="color: red;">stock Habis</div>
                                <% } else { %>
                                <button type="button" class="bg-success badge" data-bs-toggle="modal"
                                    data-bs-target="#modalBarang"
                                    onclick="barang('<%= a.id_barang %>', '<%= a.harga %>',' <%= a.new_stock %>')">
                                    Pilih
                                </button>
                                <% } %>
                            </td>
                            <td>
                                <a href="/hapusbarang/<%= a.id_barang %>" class="bg-danger badge"
                                    onclick="return confirm('polontong dihapus')">Hapus</a>
                            </td>
                        </tr>
                        <% } %>
                </table>
            </div>
            <div class="col-md-6">
                <!-- Button trigger modal -->
                <% if(transaksi.length >= 0){ %>
                saldo Anda <div id="saldo"></div>
                    <% } %>
                <table class="table table-hover  table-dark pt-2 ">
                    <tr>
                        <th>Id </th>
                        <th>Nama Barang</th>
                        <th>jumlah</th>
                        <th>total harga</th>

                        <th>bayar</th>
                        <th>Action </th>
                    </tr>
                    <% for(let a of transaksi){ %>
                        <tr>
                            <td>
                                <%= a.id_barang %>
                            </td>
                            <td>
                                <%= a.Nama_barang %>
                            </td>
                            <td>
                                <%= a.jumlah %>
                            </td>
                            <td>
                                <%= formatSaldo(a.total_harga) %>
                            </td>
                            <!-- 
                    <td>
                        <%= a.id_jenisBarang %>
                    </td>
                    <td>
                        <%= a.new_stock %>
                    </td> -->
                            <td>
                                <button type="button" onclick="bayar('<%= a.total_harga %>')">
                                    bayar
                                </button>
                            </td>
                            <td>
                                <button type="button" class="badge bg-danger" data-bs-toggle="modal" onclick="cancel('<%= a.id_barang %>', '<%= a.jumlah %>',' <%= a.new_stock %>', '<%= a.id_transaksi %>')" data-bs-target="#modalCancel">Cancel</button>
                            </td>
                        </tr>
                        <% } %>
                        <tr>
                            <td colspan="3">Total</td>
                              <% for(let a of total){ %>
                                <% if (a.total > 0) { %>
                                    <td colspan="3"><%= formatSaldo(a.total) %></td>
                               <% } else { %>
                                    <%= formatSaldo(0) %>
                               <% } %>
                               <% } %>
                        </tr>
                </table>
            </div>
        </div>
        <%- include('modal.ejs') %>


        <script>

let saldo = 5000000
const formatSaldo = (rupiah) => {
    return rupiah.toLocaleString('id-ID', {
        style: 'currency',
        currency : 'IDR',
        maximumFractionDigits: 0
    })
}
document.getElementById('saldo').innerHTML = formatSaldo(saldo)

const bayar = (harga) => {
    document.getElementById('saldo').innerHTML = formatSaldo(saldo);
    if (confirm("yakin ingin membeli ini?") === true) {
        
        if (saldo < harga) {
            alert('Saldo anda kurang')
        } else {
            saldo = saldo - harga
            document.getElementById('saldo').innerHTML = formatSaldo(saldo);
    }
    } else {
        alert("Terimaksih sudah mengunjungi toko kami")
    }
    
    
}
const barang = (id, harga, stock) => {
    const inputIdbarang = document.getElementById('barang_id')
    inputIdbarang.value = id
    const inputHarga = document.getElementById('harga').value = harga
    const inputStock = document.getElementById('Stock').value = stock
    console.log(harga,id);
}
const multiFungsi = () => {
    const inpuTotal = document.getElementById('total')
    const jumlah = document.getElementById('jumlah').value
    const harga = document.getElementById('harga').value
    inpuTotal.value = jumlah * harga 
    const stock = document.getElementById('Stock').value
    console.log(jumlah, harga);
    const stockBaru = document.getElementById('new_stock').value = stock - jumlah
}
const Fungsi_Barang = () => {
const harga = document.getElementById('harga')
const Namabarang = document.getElementById('Nama_barang')
// jika harga dibagi 500 dan sisa nya itu 0 maka akan lanjut kalo tidak sisa 0 maka akan tampil alert "harga tidak sesuai"
if (Namabarang.value.length >= 3 ) {
    if (harga.value % 500 == 0) {
        document.getElementById('save').style.display = "block"
    } else {
        alert('harga tidak sesuai')
        document.getElementById('save').style.display = "none";

    }
} else {
    alert('Nama tidak sesuai')
    document.getElementById('save').style.display = "none"
}
}

const cancel = (idBarang, jumlah, stock, idTransaksi) => {
console.log(stock, jumlah, idBarang, idTransaksi);
document.getElementById('barang_id2').value = idBarang;
document.getElementById('id_transaksi').value = idTransaksi;
document.getElementById('stockBaru').value = parseInt(stock) + parseInt(jumlah) 
} 
        </script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
            crossorigin="anonymous"></script>
</body>

</html>